In [1]:
import pandas as pd
import collections
import csv
from ast import literal_eval

In [2]:
df_1 = pd.read_csv("../../data/async_movie_db_000k_500k.csv")

In [3]:
df_2 = pd.read_csv("../../data/async_movie_db_500k_1000k.csv")

In [6]:
movie_id = pd.read_csv("../../data/movie_ids.csv")

In [4]:
df_1_clean = df_1[df_1["id"].isna() == False]

In [5]:
df_2_clean = df_2[df_2["id"].isna() == False]

In [23]:
combined_df = pd.concat([df_1_clean, df_2_clean], ignore_index=True)

In [24]:
combined_df = combined_df.reindex().drop(columns=["Unnamed: 0"])

In [25]:
english_df = combined_df[combined_df["original_language"] == "en"]

In [31]:
english_df.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,credits
3,False,/f2t4JbUvQIjUF5FstG1zZFAp02N.jpg,NaN,4000000.0,"[{'id': 35, 'name': 'Comedy'}]",https://www.miramax.com/movie/four-rooms/,5.0,tt0113101,en,Four Rooms,...,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,5.829,2565.0,"{'keywords': [{'id': 612, 'name': 'hotel'}, {'...","{'cast': [{'adult': False, 'gender': 2, 'id': ..."
4,False,/bGMqHn0H2UY6SPZ5Vch4YJM2jDO.jpg,NaN,21000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,6.0,tt0107286,en,Judgment Night,...,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.508,321.0,"{'keywords': [{'id': 2231, 'name': 'drug deale...","{'cast': [{'adult': False, 'gender': 2, 'id': ..."
5,False,NaN,NaN,42000.0,"[{'id': 99, 'name': 'Documentary'}]",http://lifeinloops.com,8.0,tt0825671,en,Life in Loops (A Megacities RMX),...,80.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A Megacities remix.,Life in Loops (A Megacities RMX),False,7.300,28.0,"{'keywords': [{'id': 215272, 'name': 'megaciti...","{'cast': [], 'crew': [{'adult': False, 'gender..."
7,False,/4qCqAdHcNKeAHcK8tJ8wNJZa9cx.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,11.0,tt0076759,en,Star Wars,...,121.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.203,20009.0,"{'keywords': [{'id': 11195, 'name': 'empire'},...","{'cast': [{'adult': False, 'gender': 2, 'id': ..."
8,False,/eCynaAOgYYiw5yN5lBwz3IxqvaW.jpg,"{'id': 137697, 'name': 'Finding Nemo Collectio...",94000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/finding-nemo,12.0,tt0266543,en,Finding Nemo,...,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There are 3.7 trillion fish in the ocean. They...,Finding Nemo,False,7.823,18726.0,"{'keywords': [{'id': 5656, 'name': 'sydney, au...","{'cast': [{'adult': False, 'gender': 2, 'id': ..."

In [32]:
columns = ["spoken_languages","keywords","credits", "genres"]

In [33]:
english_df["spoken_languages"] = english_df["spoken_languages"].fillna("[]")

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/1312885065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df["spoken_languages"] = english_df["spoken_languages"].fillna("[]")

In [34]:
english_df["keywords"] = english_df["keywords"].fillna("{}")
english_df["credits"] = english_df["credits"].fillna("{}")

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/3727051275.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df["keywords"] = english_df["keywords"].fillna("{}")
/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/3727051275.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df["credits"] = english_df["credits"].fillna("{}")

In [35]:
english_df["genres"] = english_df["genres"].fillna("[]")

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/1022074761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df["genres"] = english_df["genres"].fillna("[]")

In [175]:
for i, v in enumerate(english_df["genres"].tolist()):
    if str(v).find("2009-08-20") != -1:
        print(i, v, str(v).find("2009-08-20"))

17107 2009-08-20 0

In [188]:
english_df["genres"][17107] = "[]"

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_92439/3710122507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df["genres"][17107] = "[]"

In [36]:
english_df["genres"] = english_df["genres"].apply(literal_eval)

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/4087767483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df["genres"] = english_df["genres"].apply(literal_eval)

In [37]:
#Cleaning columns
for c in columns[:len(columns)-1]:
    print(c)
    english_df[c] = english_df[c].apply(literal_eval)

spoken_languages

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/2824322375.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df[c] = english_df[c].apply(literal_eval)

keywords
credits

In [38]:
english_df.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,credits
3,False,/f2t4JbUvQIjUF5FstG1zZFAp02N.jpg,NaN,4000000.0,"[{'id': 35, 'name': 'Comedy'}]",https://www.miramax.com/movie/four-rooms/,5.0,tt0113101,en,Four Rooms,...,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,5.829,2565.0,"{'keywords': [{'id': 612, 'name': 'hotel'}, {'...","{'cast': [{'adult': False, 'gender': 2, 'id': ..."
4,False,/bGMqHn0H2UY6SPZ5Vch4YJM2jDO.jpg,NaN,21000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,6.0,tt0107286,en,Judgment Night,...,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.508,321.0,"{'keywords': [{'id': 2231, 'name': 'drug deale...","{'cast': [{'adult': False, 'gender': 2, 'id': ..."
5,False,NaN,NaN,42000.0,"[{'id': 99, 'name': 'Documentary'}]",http://lifeinloops.com,8.0,tt0825671,en,Life in Loops (A Megacities RMX),...,80.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A Megacities remix.,Life in Loops (A Megacities RMX),False,7.300,28.0,"{'keywords': [{'id': 215272, 'name': 'megaciti...","{'cast': [], 'crew': [{'adult': False, 'gender..."
7,False,/4qCqAdHcNKeAHcK8tJ8wNJZa9cx.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,11.0,tt0076759,en,Star Wars,...,121.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.203,20009.0,"{'keywords': [{'id': 11195, 'name': 'empire'},...","{'cast': [{'adult': False, 'gender': 2, 'id': ..."
8,False,/eCynaAOgYYiw5yN5lBwz3IxqvaW.jpg,"{'id': 137697, 'name': 'Finding Nemo Collectio...",94000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/finding-nemo,12.0,tt0266543,en,Finding Nemo,...,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There are 3.7 trillion fish in the ocean. They...,Finding Nemo,False,7.823,18726.0,"{'keywords': [{'id': 5656, 'name': 'sydney, au...","{'cast': [{'adult': False, 'gender': 2, 'id': ..."

In [39]:
def extract_keywords(k):
    if "keywords" not in k or len(k["keywords"]) == 0:
        return []
    return [x["name"] for x in k["keywords"]]
def extract_genres(g):
    if not g:
        return []
    return [x["name"] for x in g] 
def extract_directors(c):
    directors = sorted([(x["popularity"], x["name"]) for x in c["crew"] if x["job"] == "Director"], reverse=True)
    return [d[1] for d in directors] if directors else []
def extract_cast(c):
    cast= sorted([(x["popularity"], x["name"]) for x in c["cast"]], reverse=True)
    return [ca[1] for ca in cast] if cast else []

In [40]:
english_df["clean_keywords"] = english_df["keywords"].apply(extract_keywords)

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/1164972725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df["clean_keywords"] = english_df["keywords"].apply(extract_keywords)

In [41]:
english_df["clean_genres"] = english_df["genres"].apply(extract_genres)

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/95047217.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df["clean_genres"] = english_df["genres"].apply(extract_genres)

In [42]:
english_df["cast"] = english_df["credits"].apply(extract_cast)

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/2227866509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df["cast"] = english_df["credits"].apply(extract_cast)

In [43]:
english_df["director"] = english_df["credits"].apply(extract_directors)

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/2770451894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_df["director"] = english_df["credits"].apply(extract_directors)

In [46]:
english_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 328022 entries, 3 to 651792
Data columns (total 31 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   adult                  328022 non-null  object
 1   backdrop_path          96076 non-null   object
 2   belongs_to_collection  8010 non-null    object
 3   budget                 328022 non-null  float64
 4   genres                 328022 non-null  object
 5   homepage               57043 non-null   object
 6   id                     328022 non-null  float64
 7   imdb_id                206511 non-null  object
 8   original_language      328022 non-null  object
 9   original_title         328018 non-null  object
 10  overview               320977 non-null  object
 11  popularity             328022 non-null  float64
 12  poster_path            235896 non-null  object
 13  production_companies   328022 non-null  object
 14  production_countries   328022 non-null  object
 15  release_date           290290 non-null  object
 16  revenue                328022 non-null  float64
 17  runtime                328022 non-null  float64
 18  spoken_languages       328022 non-null  object
 19  status                 328022 non-null  object
 20  tagline                76255 non-null   object
 21  title                  328018 non-null  object
 22  video                  328022 non-null  object
 23  vote_average           328022 non-null  float64
 24  vote_count             328022 non-null  float64
 25  keywords               328022 non-null  object
 26  credits                328022 non-null  object
 27  clean_keywords         102128 non-null  object
 28  clean_genres           217818 non-null  object
 29  cast                   208865 non-null  object
 30  director               258330 non-null  object
dtypes: float64(7), object(24)
memory usage: 80.1+ MB

In [61]:
final_df = english_df[["id", "title", "overview", "popularity", "release_date", "clean_keywords", "clean_genres", "cast", "director"]]

In [ ]:
final_df.reset_index(drop=True, inplace=True)

In [77]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328020 entries, 0 to 328019
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              328020 non-null  float64
 1   title           328020 non-null  object
 2   overview        320977 non-null  object
 3   popularity      328020 non-null  float64
 4   release_date    290289 non-null  object
 5   clean_keywords  102128 non-null  object
 6   clean_genres    217817 non-null  object
 7   cast            208864 non-null  object
 8   director        258329 non-null  object
dtypes: float64(2), object(7)
memory usage: 22.5+ MB

In [74]:
final_df.drop(final_df[final_df["title"].isna()].index, inplace=True)

/var/folders/mm/b26l1fbn3lgg74ssxs6chhsh0000gn/T/ipykernel_88227/795489836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(final_df[final_df["title"].isna()].index, inplace=True)

In [75]:
final_df.reset_index(drop=True, inplace=True)

In [79]:
final_df.to_csv("../../data/clean/english_movies_clean.csv", index=False)